@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.button {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    font-family: inherit;
    padding: 16px 36px;
    font-size: 17px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: $primary;
    transition: background-color ease 0.1s;
    span {
        display: inline-block;
        vertical-align: bottom;
        font-weight: 800;
    }
    &:disabled {
        opacity: 0.5;
        cursor: default;
    }
    &:active {
        background-color: $primary-active;
    }
}