$color-primary: #3377bb;
$color-secondary: #eff5fa;
$color-secondary-translucent: rgba(51, 119, 187, 0.08);
$color-error: #e52020;

// $color-error: #FF0000;

$color-red: #e01f19;
$color-red-secondary: rgba(229, 32, 32, 0.08);
$color-success: #25b760;
$color-dark: #333333;
$color-grey: #909090;
$color-lightgrey: #aaaaaa;
$color-tags: #767D89;

// devices:

$desktop-breakpoint: 1160px;
$mobile-container: 342px;
$ipad-portrait: 768px;
$ipad-landscape: 1024px;
